*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
}
html,body {
    height: 100%;
    width: 100%;
    /* background-color: #111; */
}

#header {
    height: 50px;
    width: 100%;
    background-color: #4A4947;
    color: #fff;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
}

#navbar {
    text-align: center;
     height: 40px;
     width: 100%;
     padding: 10px;
     border: 2px solid #A59D84;
     background-color: #FDFAF6;
}

#container {
    display: flex;
    /* background-color: pink; */

}

#sidebar {
    background-color: #F1EFEC;
    height: 100vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}

#main {
    width: 100vw;
    padding: 10px;
}

#b {
    position: relative;
    top: 20px;
    left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#img-box {
    height: 60%;
    width: 79%;
    position: relative;
    left: 150px;
    top: 40px;
    display: flex;
    gap: 40px;

}

.box1 {
    width: 300px;
    background-image: url(https://plus.unsplash.com/premium_photo-1673459683873-a8a47e1a5ab9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    }

.box2 {
    width: 300px;
    background-image: url(https://plus.unsplash.com/premium_photo-1674327105074-46dd8319164b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29mZmVlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

.box3 {
    width: 300px;
    background-image: url(https://plus.unsplash.com/premium_photo-1677607237201-64668c2266ab?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;

}

#a {
    padding-left: 40px ;
}
 pre {
    font-family: 'Times New Roman', Times, serif;
 }



#footer {
    /* background-color: #111; */
    background-color: #4A4947;
    color: #fff;
    text-align: center;
    height: 70px;
    padding: 30px;
}


